<!-- 
    Introductory 'splash' screen, shown by default 
    when a user first enters the application. 
-->

<div class='jumbotron'>
  <h2>There's no business like shoe business!</h2>
  <p>This "Black Belt" submission from Martin Puryear creates a marketplace using Ruby, Rails3, SQLite, simple_form and Bootstrap3.</p>
  <p>Click 'Sign Up' or 'Sign In' to get started!</p>
</div>

<div>
  <div class='col-xs-4'>
    <h4>Login/Registration/Reports</h4>
    <p>User validation, login, and personal dashboard.</p>
  </div>
  <div class='col-xs-4'>
    <h4>Manage Product Listings</h4>
    <p>Create/edit/remove your items, and purchase others.</p>
  </div>
  <div class='col-xs-4'>
    <h4>System Administration</h4>
    <p>Admins add/remove users, items and purchases.</p>
  </div>
</div>