<!-- 
  Present these links in the navigation bar, so they
  are present at all times when a user is signed in.
  Most importantly the link to the user's dashboard,
  but also links to all products for sale, all 
  historical sales, and all user accounts.  
 -->

<%# add navigation links to this file %>

<% if signed_in? %>
  <li><%= link_to 'My Dashboard', user_path(@current_user.id) %></li>
  <li><%= link_to 'Products',     products_path %></li>
  <li><%= link_to 'Sales',        sales_path %></li>
  <li><%= link_to 'Users',        users_path %></li>
<% end %>
